[submodule "include/asio2"]
	path = include/asio2
	url = https://github.com/zhllxt/asio2.git
[submodule "include/asio"]
	path = include/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "include/rwkv.cuh"]
	path = include/rwkv.cuh
	url = https://github.com/harrisonvanderbyl/rwkv.cuh
